
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    body {
      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
      @apply antialiased transition-colors duration-300 bg-white dark:bg-black text-black dark:text-white;
    }
    
    ::-webkit-scrollbar {
      display: none;
    }
    
    html {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }

  @layer utilities {
    .pb-safe {
      padding-bottom: env(safe-area-inset-bottom);
    }
    .pt-safe {
      padding-top: env(safe-area-inset-top);
    }
    
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    .active-shrink {
      @apply active:scale-95 transition-transform duration-200 ease-[cubic-bezier(0.32,0.72,0,1)] cursor-pointer;
    }
  }
